html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #E6E6E6;
}

header {
  background-color: #E64560;
}

h2 {
  line-height: normal;
}

#título {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 110%;
  color: #E6E6E6;
  padding: 20%;
  padding-top: 100px;
  padding-bottom: 5px;
  max-width: 90%;
  }

#texto {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  max-width: 90%;
  padding: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  }

#letras {
    padding-left: 20%;
    padding-bottom: 80px;
    max-width: 80%;
  }

#alfabeto {
    display: inline-block;
    position: overflow;
    margin: 5px;
    width: 80px;
    height: 80px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    border-color: #FFFFFF;
    background-color: #F7DADD;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #1c1c56;
    text-align: center;
  }

#letra {
    max-width: 80px;
    max-height: 80px;
    border: 2px solid #e64560;
    border-radius: 20px;
    background-color: #EFEFEF;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #1c1c56;
    border-color: #e64560;
    text-align: center;
  }

  .conceitos {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    max-width: 95%;
    padding: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    }

  .button {
    background-color: #1c1c56;
    border: none;
    color: #F7931E;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.button2 {border-radius: 8px;}

.line {border-top: 1px solid #8c8b8b;}

.vazio {
  opacity: .3;
}

.vazio a {
  cursor: default;
}

#letras a {
    color: #1c1c56;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 991.98px) {
  #título {
    font-size: 50px;
  }
}

@media only screen and (max-width: 575.98px) {
  #título {
    font-size: 36px;
  }
  #título, #texto, #letras, .conceitos {
    padding: 7%;
  }
  #letras {    
    padding-bottom: 80px;
    max-width: 95%;
  }
  #alfabeto {
      width: 70px;
      height: 70px;
      border: 2px solid #FFFFFF;
      border-radius: 20px;
      border-color: #FFFFFF;
      background-color: #F7DADD;
      font-family: 'Barlow', sans-serif;
      font-size: 50px;
      font-weight: 600;
      color: #1c1c56;
      text-align: center;
    }



}
